<section class="content">
	<div class="container-fluid content-block">
		<div class="content__title">
			<h2>Готуємо разом з шеф-кухарем ресторану</h2>
		</div>
		<div class="content__description">
			<p>🥘 Приготуємо разом з шефом м’ясо, запечене з овочами та узварі у горщику в печі !
			</p>
		</div>
		<div class="slider-content-inner" id="navMenu">

			<div class="slider-content">
				<div class="slider-content-images">
					<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">

						<div class="carousel-inner">
							<div class="carousel-item active ">
								<img src="images/content-images-1.webp" class="d-block w-100" alt="photo-1">
								<div class="carousel-caption d-none d-md-block">

								</div>
							</div>
							<div class="carousel-item">
								<img src="images/content-images-3.webp" class="d-block w-100" alt="photo-2">
								<div class="carousel-caption d-none d-md-block">

								</div>
							</div>
							<div class="carousel-item">
								<img src="images/content-images-2.webp" class="d-block w-100" alt="photo-3">
								<div class="carousel-caption d-none d-md-block">

								</div>
							</div>
							<div class="carousel-item">
								<img src="images/content-images-4.webp" class="d-block w-100" alt="photo-4">
								<div class="carousel-caption d-none d-md-block">

								</div>
							</div>
							<div class="carousel-item">
								<img src="images/content-images-5.webp" class="d-block w-100" alt="photo-5">
								<div class="carousel-caption d-none d-md-block">

								</div>
							</div>
							<div class="carousel-item">
								<img src="images/content-images-6.webp" class="d-block w-100" alt="photo-6">
								<div class="carousel-caption d-none d-md-block">

								</div>
							</div>
						</div>
						<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
							data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
							data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>
					</div>
				</div>

				<div class="slider-content-descr">
					<ul class="content-descr-list"> 🥘 Нам знадобиться:
						<li class="descr-list-item">• свинина — <span>200 г</span></li>
						<li class="descr-list-item">• яловичина або телятина — <span>200 г</span></li>
						<li class="descr-list-item">• болгарський перець — <span>200 г</span></li>
						<li class="descr-list-item">• морква — <span>200 г</span></li>
						<li class="descr-list-item">• томатна паста — <span>50 г</span></li>
						<li class="descr-list-item">• узвар — в залежності від розміру горщика <span>(наливатимемо так,
								аби
								узвар покрив м’ясо доверху)</span>.</li>
					</ul>
					<div class="content-descr">Готуємо в печі або духовій шафі при температурі 180 градусів!</div>
					<div class="content-descr-span">
						<span>Смачного! 🙌🏻🇺🇦</span>
					</div>
				</div>
			</div>
		</div>

		<div class="content__description">
			<p>🐠 У нас часто замовляють рибку, приготовану на вуглях !
			</p>
		</div>

		<div class="slider-content-inner">
			<div class="slider-content-two">
				<div class="slider-content-descr">
					<ul class="content-descr-list"> 🥘 Нам знадобиться:
						<li class="descr-list-item">• скумбрія - <span>1 шт</span></li>
						<li class="descr-list-item">• лимон - <span>1 шт</span></li>
						<li class="descr-list-item">• спеції за смаком<span> (у нашому випадку виключно сіль та
								чорний
								перець) </span></li>
					</ul>
					<div class="content-descr">
						Розділяємо рибку на філе, вибираємо кісточки. Краще це робити пінцетом.
						Додаємо сік половини лимону. Смажимо на середньому вогні до скоринки!
					</div>
					<div class="content-descr-span">
						<span>📍 з любов’ю «Колиба»</span>
					</div>
				</div>
				<div class="slider-content-images">
					<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
						<div class="carousel-inner">
							<div class="carousel-item active">
								<img src="../images/content-fish-1.webp" class="d-block w-100" alt="fish-1">
							</div>
							<div class="carousel-item">
								<img src="images/content-fish-3.webp" class="d-block w-100" alt="fish-3">
							</div>
							<div class="carousel-item">
								<img src="images/content-fish-2.webp" class="d-block w-100" alt="fish-2">
							</div>
							<div class="carousel-item">
								<img src="images/content-fish-4.webp" class="d-block w-100" alt="fish-4">
							</div>
							<div class="carousel-item">
								<img src="images/content-fish-5.webp" class="d-block w-100" alt="fish-5">
							</div>
							<div class="carousel-item">
								<img src="images/content-fish-6.webp" class="d-block w-100" alt="fish-6">
							</div>
						</div>
						<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
							data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
							data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="content__description">
			<p>Готуємо голубців м’ясом та копченою куркою разом із «Колибою! 🥘
			</p>
		</div>
		<div class="slider-content-inner">
			<div class="slider-content-three">
				<div class="slider-content-images">
					<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
						<div class="carousel-inner">
						  <div class="carousel-item active">
							<img src="images/golubzi-1.webp" class="d-block w-100" alt="golubzi-1">
						  </div>
						  <div class="carousel-item">
							<img src="../images/golubzi-2.webp" class="d-block w-100" alt="golubzi-2">
						  </div>
						  <div class="carousel-item">
							<img src="images/golubzi-3.webp" class="d-block w-100" alt="golubzi-3">
						  </div>
						  <div class="carousel-item">
							<img src="images/golubzi-4.webp" class="d-block w-100" alt="golubzi-4">
						  </div>
						  <div class="carousel-item">
							<img src="images/golubzi-5.webp" class="d-block w-100" alt="golubzi-5">
						  </div>
						  <div class="carousel-item">
							<img src="images/golubzi-6.webp" class="d-block w-100" alt="golubzi-6">
						  </div>
						</div>
						<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
						  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
						  <span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
						  <span class="carousel-control-next-icon" aria-hidden="true"></span>
						  <span class="visually-hidden">Next</span>
						</button>
					  </div>
			</div>
				<div class="slider-content-descr">
					<ul class="content-descr-list">🥘На 4 порції нам знадобиться:
						<li class="descr-list-item">• листя капусти <span>12 штук</span></li>
						<li class="descr-list-item">• рис —<span> 100 г</span></li>
						<li class="descr-list-item">• фарш свинини — <span>100 г</span></li>
						<li class="descr-list-item">• м’ясо копченої курки —<span> 100 г</span></li>
						<li class="descr-list-item">• морква —<span> 50 г</span></li>
						<li class="descr-list-item">• цибуля —<span> 50 г</span></li>
						<li class="descr-list-item">• узвар — <span>300 мл</span></li>
						<li class="descr-list-item">• томатна паста — <span>50 г</span></li>
						<li class="descr-list-item">• сіль та перець за смаком</li>
					</ul>
					<div class="content-descr">
						<p>Відварюємо капустяні листя.
							Обсмажуємо моркву та цибулю на пательні і додаємо їх до фаршу. З курки знімаємо шкіру, а
							саме м’ясо нарізаємо кубиками. Додаємо до фаршу та овочів, приправляємо спеціями.
						</p>
					
						<p>До узвару додаємо томатну пасту та ретельно змішуємо.
							Заливаємо цією заправкою голубці.
							Тушимо голубці до готовності.</p>
					</div>
					<div class="content-descr-span">
						<span>Подаємо зі сметаною 🥘
							Смачного!</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	</div>
</section>
