<footer class="footer">
<div class="container-fluid footer-content">
	<div class="footer-descr-info">
		<div class="descr-info-title"><h6>Контактні дані</h6></div>
		<div class="descr-info-text">Mikhniuka St, 1, Chernihiv, Chernihivs'ka oblast, Ukraine,</div>
		<div class="descr-info-index">14000</div>
		<a href="tel:0957786132" class="descr-info-tel">0957786132</a>
		<div class="worck-time">Робочий час</div>
		<span class="worck-time-span">11:00 - 21:00</span>
	</div>
	<div class="footer-descr-map">
		<div class="footer-descr-map-title">На карті</div>
		<div class="map-content">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2484.168713782941!2d31.3129422157694!3d51.49177137963261!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46d548fa42fddd17%3A0xfeac64147e1f8b89!2z0JrQvtC70LjQsdCw!5e0!3m2!1suk!2sua!4v1680241825054!5m2!1suk!2sua" width="900" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>

	</div>
</div>
<div class="content-avtor">© 2023 Колиба Чернігів <span>autor: <a href="#" class="autor">Ulich Igor</a></span></div>
</footer>
