<header class="header ">
	<div class="container-fluid">
		<div class="wrap">
			<div class="before"><img src="images/header-fon-2.webp" alt="fon-3"></div>
			<div class="after after1"><img src="images/header-fon.webp" alt="fon-6"></div>
			<div class="header__logo">
				<h1>Колиба</h1>
				<div class="header__logo-text">Ресторан «Колиба», Чернігів 🥘
					Українська кухня на березі річки</div>
				<div class="header__logo-descr">
					•працюємо щодня <span>(11:00-21:00)</span>
					•обіди 1+1 в будні<span> (12:00-16:00)</span>
					•сніданки щовихідних <span>1+1</span></div>

				<a href="tel:0957786132" class="telefon">095 778 6132</a>
				<!-- <a href="mailto:company@test.com:" class="mail">company@test.com</a> -->
			</div>

			<nav class="nav-menu">
				<ul class="menu-list">
					<li class="menu-list-linck"><a href="#navMenu" class="linck-item">Приготуємо разом з шефом</a></li>
					<li class="menu-list-linck"><a href="#lunch" class="linck-item">ОБІДИ 1+1 СНІДАНКИ</a></li>



					<li class="menu-list-linck"><a href="#products" class="linck-item">НАПІВФАБРИКАТИ</a></li>
					<li class="menu-list-linck"><a href="#masks" class="linck-item">БОКСИ</a></li>
					<li class="menu-list-linck"><a href="#bringing" class="linck-item">ДОСТАВКА</a></li>
					<li class="menu-list-linck"><a href="#" class="linck-item">Акції</a></li>
				</ul>
			</nav>
			<div class="menu-btn">
				<input type="checkbox" id="checkbox" class="mobile-menu-checkbox">
				<label for="checkbox" class="mobile-menu-btn">
					<div class="mobile-menu-icon"></div>
				</label>

			</div>
		</div>
	</div>
</header>

<div class="menu">

			<li class="nav-list-item"><a class="nav-ink" href="#">Приготуємо разом з шефом</a></li>
			<li class="nav-list-item"><a class="nav-link" href="#">ОБІДИ 1+1 СНІДАНКИ</a></li>
			<li class="nav-list-item"><a class="nav-link" href="#">НАПІВФАБРИКАТИ</a></li>
			<li class="nav-list-item"><a class="nav-link" href="#">БОКСИ</a></li>
			<li class="nav-list-item"><a class="nav-link" href="#">ДОСТАВКА</a></li>
			<li class="nav-list-item"><a class="nav-link" href="#">Акції</a></li>

