section.content {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;

}

.container-fluid.content-block {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	display: block;

}

.content__title h2 {
	position: inherit;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: calc(12px + 38 * (100vw / 1920));
	line-height: 155%;
	font-family: 'segoesc Bold';
	font-weight: 700;
	color: $accent;
}

.content__descr {
	position: inherit;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
}

.content__descr p {
	text-align: center;
	font-size: calc(10px + 28 * (100vw / 1920));
	line-height: 155%;
	font-family: 'segoesc Bold';
	font-weight: 700;
	color: $white;
}

.slider-content-inner {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;

	flex-direction: column;
}

#navMenu {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;

}

.slider-content {
	position: relative;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	padding-bottom: 3%
}

.slider-content-two{
	position: relative;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	flex-direction: row;
	padding-bottom: 3%
}

.slider-content-images {
	position: relative;
	top: 0;
	left: 0;
	height: auto;
	width: 50%;

}

img.content-images {
	position: absolute;
	top: 0;
	left: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

.slider-content-descr {
	display: flex;
	flex-direction: column;
	position: relative;
	justify-content: space-around;
	width: 50%;
	color: $white;
}

ul.content-descr-list {
	color: $accent;
	text-transform: uppercase;
	font-family: 'Verdana Medium';
	font-size: calc(10px + 8 * (100vw / 1920));
	line-height: 115%;
	padding-left: 2%;

}

li.descr-list-item {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	color: $white;
	padding: 8px 0 8px;
}

li.descr-list-item span {
	color: $accent;
	text-transform: uppercase;
	font-family: 'Verdana Medium';
	font-size: calc(10px + 8 * (100vw / 1920));
	line-height: 115%;
}

.content-descr {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	color: $accent;
	text-transform: uppercase;
	font-family: 'segoesc Regular';
	font-size: calc(10px + 10 * (100vw / 1920));
	line-height: 115%;
	padding: 2%;
}

.content-descr-span span {
	position: absolute;
	bottom: 6%;
	right: 4%;
	color: $accent;
	text-transform: uppercase;
	font-family: 'Verdana Medium';
	font-size: calc(10px + 8 * (100vw / 1920));
	font-weight: 500;
	line-height: 115%;
}
