header.header {
	position: relative;
	top: 0;
	left: 0;
	max-height: 635px;
	width: 100%;
	max-width: 1920px;
}





.container-fluid {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
}

.wrap {
	position: relative;
	top: 0;
	left: 0;
	max-width: 1920px;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	z-index: z("wrap");
}

.before,
.after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.before img {
	position: relative;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	max-width: 1920px;
	background-position: center, center;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: 1px solid $bgd;
	@include _992 {
		height: 60%;
	}

	@include _767 {
		height: 86%;
	}

	@include _480 {
		height: 100%;
	}
}
.after.after1 img {
	position: absolute;
	z-index: z("img");
}

.after1 {
	transform: all 5s linear;
	overflow: hidden;
	animation: move-y 8s infinite;
}

@keyframes move-y {
	0% {
		height: 0%;
		opacity: 0;
	}

	100% {
		height: 100%;
		opacity: 1;
	}
}

.header__logo {
	position: relative;
	top: 3%;
	left: 2%;
	max-width: 400px;
	display: flexbox;

	@include _1200 {
		position: absolute;
		top: 10%;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	@include _767 {
		top: 17%;
	}
	@include _320 {
		display: none;
	}
}

.header__logo h1 {
	font-size: calc(25px + 63 * (100vw / 1920));
	line-height: 155%;
	font-family: "segoesc Bold";
	font-weight: 700;
	color: $accent;
	width: 100%;
	text-align: center;
}

.header__logo-text {
	position: relative;
	top: 0;
	left: 0;
	font-family: "segoesc Regular";
	font-weight: 400;
	color: $white;
	font-size: calc(19px + 18 * (100vw / 1920));
	line-height: 115%;
	padding: 5px 15px 5px 15px;

	@include _1200 {
		padding: 0 15px 0 15px;
	}
	@include _767 {
		padding: 0 0 0 5px;
		line-height: 180%;
	}
}

a.telefon {
	position: relative;
	top: 0;
	left: 0;
	text-decoration: none;
	font-family: "Verdana Medium";
	font-weight: 500;
	color: $white;
	font-size: calc(11px + 26 * (100vw / 1920));
	line-height: 115%;
	cursor: pointer;
	border-bottom: solid 2px transparent;
	transition: all 2s linear;

	&:hover {
		border-bottom: solid 2px $accent;
		color: $accent;
	}
}

.header__logo-descr {
	font-family: "Verdana Regular";
	font-weight: 400;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	color: $white;
	font-size: calc(14px + 18 * (100vw / 1920));
	line-height: 115%;
	white-space: nowrap;
}

.header__logo-descr span {
	font-family: "Verdana Medium";
	font-weight: 500;
	font-size: calc(20px + 18 * (100vw / 1920));
	line-height: 115%;
	color: $accent;
	padding: 15px 0;
}

nav.nav-menu {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 90px;

	@include _1200 {
		height: 30px;
	}
	@include _992 {
		display: none;
	}
}

ul.menu-list {
	position: inherit;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: space-around;
	align-items: center;
}

li.menu-list-linck {
	padding: 4px 2px 0;
}

a.linck-item {
	text-decoration: none;
	color: $accent;
	text-transform: uppercase;
	font-family: "Verdana Medium";
	font-size: calc(10px + 8 * (100vw / 1920));
	line-height: 115%;
	border-bottom: solid 2px transparent;
	transition: all 1s linear;

	&:hover {
		border-bottom: solid 2px $accent;
	}
}

label.mobile-menu-btn {
	position: fixed;
	top: 3%;
	right: 6%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 45px;
	height: 40px;
	cursor: pointer;
	transition: 0.4s;
	display: block;
	z-index: z("btn");
}

/* Гамбургер значок */
.mobile-menu-checkbox:checked ~ .mobile-menu-btn .mobile-menu-icon {
	background: 0 0;
}

.mobile-menu-icon {
	display: block;
	position: relative;
	background: $white;
	width: 90%;
	height: 2px;
	transition: 0.4s;
	z-index: z("btn");
	display: none;

	@include _992 {
		display: block;
	}
}

.mobile-menu-icon::before {
	content: "";
	display: block;
	position: absolute;
	top: 5px;
	background: $white;
	width: 100%;
	height: 2px;
	transition: 0.4s;
}

.mobile-menu-icon::after {
	content: "";
	display: block;
	position: absolute;
	top: 10px;
	background: $white;
	width: 100%;
	height: 2px;
	transition: 0.4s;
}

.mobile-menu-checkbox:checked ~ .mobile-menu-btn .mobile-menu-icon::before {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	background: $accent;
}

.mobile-menu-checkbox:checked ~ .mobile-menu-btn .mobile-menu-icon::after {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	background: $accent;
}

.mobile-menu-checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon {
	background: 0 0;
}

.mobile-menu-checkbox {
	display: none;
}
