.mobile-menu-checkbox:checked~.mobile-menu-container {
	height: 100%;
}

.mobile-menu-container {
	position: fixed;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	right: 0;
	height: 0;
	opacity: 1;
	transition: 0.5s;
	overflow: hidden;
	background-color: #0000009c;
	z-index: z('menu');
}

.mobile-menu-list {
	transition: 0.5s;
	list-style: none;
	padding-left: 0;
	margin-top: 0;

	@include _480 {
		.mobile-menu-list {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			transition: 0.5s;
			list-style: none;
			padding-left: 0;
			margin-top: 0;
		}
	}
}
li.mobile-menu-item {
	font-size: 26px;
	padding-bottom: 15px;
  }
  a.mobile-menu-link {
	text-decoration: none;
	color: $white;
	font-size: calc(21px + 15 * (100vw / 1920));
	line-height: calc(60px + 20 * (100vh / 1920));
	letter-spacing: calc(0.6px + 0.2 * (100vw / 1920));
	font-weight: 200;

  }
