.products-container {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;

}

.products-title h2 {
	position: inherit;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: calc(12px + 32 * (100vw / 1920));
	line-height: 155%;
	font-family: 'segoesc Bold';
	font-weight: 700;
	color: $accent;
	padding-top: 4%;
}

.products-text p {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: calc(10px + 28 * (100vw / 1920));
	line-height: 225%;
	font-family: 'segoesc Bold';
	font-weight: 700;
	color: $white;
	letter-spacing: 1px;
}

.products-content {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
	align-items: stretch;
	padding: 2% 0 5%;

	@include _992 {
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: stretch;

		@include _480 {
			align-content: center;
		}
	}
}

.products-content-title {
	position: absolute;
	top: 0;
	left: 0;
	color: $accent;
	text-transform: uppercase;
	font-family: 'Verdana Medium';
	font-size: calc(10px + 8 * (100vw / 1920));
	line-height: 115%;
	width: 100%;
	text-align-last: left;
	padding-bottom: 2%;
}

.card.products-card {
	position: relative;
	top: 0;
	left: 0;
	background: transparent;
	padding-bottom: 1%;
	border: solid 0.4px $accent;
	margin: 4px;
}

.card-body {
	position: relative;
	top: 0;
	left: 0;

}

.card-title {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	text-transform: uppercase;
	font-family: "Verdana Medium";
	font-size: calc(10px + 0.416667vw);
	line-height: 115%;
	padding-bottom: 2%;
	width: 100%;
	text-align: center;
	color: $white;
}

p.card-text {
	position: relative;
	top: 0;
	left: 0;
	padding: 10px 0  20px;
	color: $accent;
	font-family: "Verdana Medium";
	font-size: calc(10px + 0.416667vw);
}

span.card-span {
	position: absolute;
	bottom: 13%;
	right: 6%;
	padding: 1% 0 9%;
	color: $white;
	font-family: "segoesc Bold";
	font-weight: 700;
	font-size: calc(10px + 0.416667vw);
}

.btn.btn-warning {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	background: $accent;
}

.box-content {
	position: relative;
	top: 0;
	left: 0;
	max-width: 1920px;
	width: 100%;
	padding: 0 14px;
}

.parallax {
	background-image: url(/images/boxing-poster.webp);
	height: 1080px;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	flex-direction: column;
	color: $white;
	font-size: 60px;
	align-items: center;
	align-content: center;
	position: relative;
}

.parallax .mask {
	position: absolute;
	width: 100%;
	height: 100%;
	background: $bgd;
	z-index: z('mask');
}

.parallax h6 {
	z-index: z('parallax');
	font-size: calc(12px + 38 * (100vw / 1920));
	line-height: 155%;
	font-family: 'segoesc Bold';
	font-weight: 700;
	color: $accent;
}

.parallax p {
	text-align: center;
	font-size: calc(10px + 28 * (100vw / 1920));
	line-height: 225%;
	font-family: 'segoesc Bold';
	font-weight: 700;
	color: $accent;
}

ul.parallax-list {
	position: relative;
	top: 0;
	left: 0;
	width: 50%;
	margin: 0 auto;
}

li.parallax-item {
	color: $white;
	text-transform: uppercase;
	font-family: 'Verdana Medium';
	font-size: calc(10px + 8 * (100vw / 1920));
	line-height: 115%;
	padding: 1% 0;
}

.parallax span {
	color: $accent;
	text-transform: uppercase;
	font-family: 'Verdana Medium';
	font-size: calc(10px + 8 * (100vw / 1920));
	line-height: 115%;
}
