.products-container {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;

}

.products-title h2 {
	position: inherit;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: calc(12px + 32 * (100vw / 1920));
	line-height: 155%;
	font-family: 'segoesc Bold';
	font-weight: 700;
	color: $accent;
	padding-top: 4%;
}

.products-text p {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: calc(10px + 28 * (100vw / 1920));
	line-height: 225%;
	font-family: 'segoesc Bold';
	font-weight: 700;
	color: $white;
	letter-spacing: 1px;
}

.products-content {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
padding: 2% 0 5%;
}

.products-content-title {
	position: absolute;
	top: 0;
	left: 0;
	color: $accent;
	text-transform: uppercase;
	font-family: 'Verdana Medium';
	font-size: calc(10px + 8 * (100vw / 1920));
	line-height: 115%;
	width: 100%;
	text-align-last: left;
	padding-bottom: 2%;
}
.card.products-card{
	background: transparent;
	padding-bottom: 1%;
	border:solid 0.4px $accent;
	margin: 4px;
}
.card-title{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	text-transform: uppercase;
	font-family: "Verdana Medium";
	font-size: calc(10px + 0.416667vw);
	line-height: 115%;
	padding-bottom: 2%;
	width: 100%;
	text-align: center;
	color:$white;
}
.card-text p{
	position: relative;
	top: 0;
	left: 0;
	padding: 1% 0;
}
.btn.btn-warning{
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	background:$accent;
}
.box-content{
	position: relative;
	top: 0;
	left: 0;
	max-width: 1920px;
	width: 100%;
}
.parallax {
    background-image: url(/dist/images/);
    height: 500px;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 60px;
    align-items: center;
    position: relative;
}
